%table.table.table-bordered.table-striped
  %thead
    %tr
      - attrs.each do |key|
        %th= resource_class.human_attribute_name(key)
      %th{cols: 3}
  %tbody
    - resources.each do |o|
      %tr
        - attrs.each do |key|
          %td= o.send(key)
        %td= link_to t('view.show'), o
        %td= link_to t('view.edit'), [:edit, o]
        %td= link_to t('view.destroy'), o, :method => :delete, :confirm => t('view.destroy_confirm', :default => 'Are you sure?')

