!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= page_title format: ":title | :app"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag    "application", :media => "all"
    = favicon_link_tag
    = favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} #{t(:'app.name')}
          .nav-collapse
            = render 'navbar'

    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            = render 'sidebar'
        .span9
          .page-header
            %h1= page_title :format => false
          = yield
      %footer.footer
        %p.pull-right &copy; COPY-NAME-FIXME, 2012
    = javascript_include_tag "application"
